{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
<h1>Edit Product</h1>

<!-- Afficher les erreurs globales du formulaire -->
{{ form_start(form, { 'action': path('app_product_edit', { 'id': product.id }), 'method': 'POST' }) }}
{{ form_errors(form) }}

<!-- Champs principaux du formulaire -->
{{ form_row(form.name) }}
{{ form_row(form.color) }}
{{ form_row(form.size) }}
{{ form_row(form.price) }}
{{ form_row(form.type) }}
{{ form_row(form.availability) }}
{{ form_row(form.description) }}
<!-- Champ pour ajouter de nouveaux fichiers médias -->
{{ form_row(form.media) }}

<!-- Bouton pour soumettre le formulaire -->
<button type="submit" class="btn btn-primary">Save changes</button>
{{ form_end(form) }}


<!-- Affichage des médias existants -->
<h2>Media Collection</h2>
<ul>
    {% for media in product.media %}
        <li>
            <img src="{{ asset('uploads/media/' ~ media.url) }}" alt="Media" width="100">
            <form method="post" action="{{ path('app_media_delete', {'id': media.MediaId}) }}" style="display:inline;">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ media.MediaId) }}">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>


<a href="{{ path('app_product_index') }}" class="btn btn-secondary mt-3">Back to list</a>
{% endblock %}