{% extends 'front/index.html.twig' %}

{% block body %}
<div class="row isotope-grid">
    {% for product in products %}
        <!-- Product Block -->
        <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item men">
            <div class="block2">
                <div class="block2-pic hov-img0" style="height: 270px; width: 100%;">
                    {% if product.media is not empty %}
                        <img src="{{ asset('uploads/media/' ~ product.media[0].url) }}" alt="Product Image" style="object-fit: cover;">
                    {% else %}
                        <img src="{{ asset('front/images/crochet/0.jpg') }}" alt="Default Image" style="object-fit: cover;">
                    {% endif %}

                    
                </div>

                <div class="block2-txt flex-w flex-t p-t-14">
                    <div class="block2-txt-child1 flex-col-l">
                        <a href="#" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                            <strong>{{ product.name }}</strong>
                        </a>

                        <span class="stext-105 cl3">
                            {{ product.price }} DT
                            <br>
                            Availability: 
                            <span style="color: {{ product.availability ? 'green' : 'red' }};">
                                {{ product.availability ? 'Yes' : 'No' }}
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        
    {% endfor %}
</div>
{% endblock %}
