{% extends 'back/showProduct.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<div class="row d-flex">
    <!-- Première carte : Détails du produit (à gauche) -->
    <div class="col-md-7 d-flex">
        <div class="card w-100">
            <div class="card-body">
                <h1>{{ product.name }}</h1>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ product.id }}</td>
                        </tr>
                        <tr>
                            <th>Color</th>
                            <td>{{ product.color }}</td>
                        </tr>
                        <tr>
                            <th>Size</th>
                            <td>{{ product.size }}</td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td>{{ product.type }}</td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td>{{ product.price }}</td>
                        </tr>
                        <tr>
                            <th>Availability</th>
                            <td>{{ product.availability ? 'Yes' : 'No' }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ product.description }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ product.productDate|date('Y-m-d H:i:s') }}</td>
                        </tr>
                    </tbody>
                </table>
                <a href="{{ path('app_dashboard') }}" class="btn bg-gradient-danger btn-sm">Back to list</a>
                <a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btn bg-gradient-warning btn-sm">Edit</a>
                {{ include('product/_delete_form.html.twig') }}
            </div>  
        </div>
    </div>

    <!-- Deuxième carte : Médias existants (à droite) -->
    <div class="col-md-5 d-flex">
        <div class="card w-100">
            <div class="card-body" style="max-height: 450px; overflow-y: auto;" >
                <ul class="list-unstyled">
                    {% for media in product.media %}
                        <li class="d-flex align-items-center mb-3">
                            <img src="{{ asset('uploads/media/' ~ media.url) }}" alt="Media" class="me-3 img-thumbnail" width="300">
                        </li>
                    {% else %}
                        <li>No media available</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
